/* You can add global styles to this file, and also import other style files */


.container {
  width: 100%;
  max-width: 1130px;
  margin-right: auto;
  margin-left: auto;
  min-height: calc(100vh - 200px);
}

.container-grid {
  display: grid;
  grid-gap: 1rem;
  max-width: 1280px;
  margin: 1.5rem auto;
  grid-template-columns: repeat(4, minmax(240px,auto))
}

@media (max-width: 1080px) {
  .container-grid {
    grid-template-columns: repeat(3, minmax(0,auto))
  }
}

@media (max-width: 640px) {
  .container-grid {
    grid-template-columns: repeat(2, minmax(0,auto))
  }
}

@media (max-width: 480px) {
  .container-grid {
    grid-template-columns: repeat(1, minmax(0,auto))
  }
}
