/* You can add global styles to this file, and also import other style files */


.container {
  width: 100%;
  max-width: 1130px;
  margin-right: auto;
  margin-left: auto;
  min-height: calc(100vh - 170px);
}
